body {
    background-color:rgb(209, 255, 255);
}

.anket {
    text-align:center;
    margin-top:-4px;
}

.matubi {
    font-size:12px;
    text-align:center;
    margin-bottom:-4px;
}

hr {
    border-color:blue;
}

.honbn {
    background-color:white;
    width:620px;
    height:900px;
    border:1px solid gray;
    border-radius:10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.youso {
    padding-top:20px;
    padding-left:20px;
}

span {
    color:white;
    font-size:15px;
    background-color:rgb(255, 115, 115);
    border-radius:5px;
}

#text {
    border:1px solid gray;
    border-radius:5px;
    box-shadow:1px 1px gray;
    width:550px;
    height:25px;
}

#number {
    border:1px solid gray;
    border-radius:5px;
    box-shadow:1px 1px gray;
    width:80px;
    text-align:center;
}

textarea {
    border:1px solid gray;
    border-radius:5px;
    box-shadow:1px 1px gray;
}

button {
    border:1px solid gray;
    border-radius:5px;
    padding:7px 5px 7px 5px;
}
